@use "bootstrap";
body {
  // font-family: 'Narrow';
  // background-color: rgb(57, 57, 57);
  background-image: url(background.webp);
  
}
.title {
  text-transform: uppercase;
  
}
.page-link{
  border-color: black;
  color: black;
}
.row {
  .cover-container img {
    width: 200px;
  }
}

.data-container {
  margin-left: 30px;
  margin-block: 80px;
}
.description {
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.cast-data {
  background: rgba(255, 255, 255, 0.5);
  border-radius: 5px;

  padding: 20px;
  margin-top: 20px;
  .director {
    margin-inline: auto;
    font-weight: 700;
    .director-photo {
      width: 200px;
      margin-right: 30px;
      border-radius: 5%;
    }
  }
  .cast {
    display: flex;
    justify-content: space-between;
    
    font-weight: 700;
    .actor-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
    .actor-character {
      font-style: italic;
    }
    .actor-photo {
      height: 130px;
      border-radius: 5%;
    }
  }
}
.text-container {
  background: rgba(255, 255, 255, 0.5);
  border-radius: 5px;

  padding: 20px;

  .title {
    font-size: 50px;
  }
}
.full-container {
  background-size: cover;
}

.detail-description {
  font-style: italic;
  font-size: 1.5rem;
  color: black;
}
#movie-cover {
  height: 500px;
  margin-block: 80px;
}
.little-details {
  font-weight: 700;
  font-size: 1.5rem;
}

.genres {
  font-size: 1.5rem;
}
@media screen and (max-width: 768px) {
  .movie-container {
    flex-direction: column;
    align-items: center;
  }
  .data-container {
    flex-direction: column;
    max-width: 80%;
  }
}
