@use "bootstrap";
.row {
 
  
  .cover-container img {
    width: 200px;
  }
}
.card {
  margin-bottom: 30px;
}

.description {
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

