@use "bootstrap";
.row {
 
  
  .cover-container img {
    width: 200px;
  }
}
.card {
  margin-bottom: 30px;
}

.description {
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.text-container{
  margin-block: 80px;
  color: white;
  
  .title{
    font-size: 50px;
  }
}
.full-container{
  background-size: cover;
  }
  
#movie-cover{
  height: 500px;
  margin-block: 40px;
}
